/* Basic element styling
   ========================================================================== */

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #10283A;
    font-size: 16px;
    word-wrap: break-word;
}

h2 {
    font-size: 32px;
    font-weight: 600;
    margin-top:5px;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

ul {
    li {
        margin: 10px 0;
    }
    &.check-box i {
        text-indent: -22px;
        vertical-align: middle;
    }
}

a:hover{
    text-decoration: none;
}

iframe {
    width: 100% !important;
}

.button{
        border: none;
        color: #fff;
        padding: 10px 20px;
        width: auto;
        background: #2C3E50;
        text-decoration: none;
        margin:5px 0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        &:hover{
            background:#162330;
        }
}