/* ==========================================================================
   SITE STYLES
   ========================================================================== */

/* Header
   ========================================================================== */

header {
    background: #E6E7E8;
}

nav.nav-bar {
    display: none;
    background: #10283A;
    padding: 10px 0 12px;
    @include clearfix-micro;
    .nav-bar-wrap {
        margin: 0 auto;
        a {
            color: #fff;
            text-decoration: none;
            font-size: 14px;
            font-weight: 300;
            float: right;
            width: 232px;
        }
    }
}

.header-wrap {
    padding: 5px 10px;
    @include clearfix-micro;

    a{
        text-decoration: none;
    }
}

.logo-title {
    width:100%;
    display: block;
    @include clearfix-micro;
    img, h1 {
        float: left;
    }
    h1 {
        color: #10283A;
        margin: 10px;
        width: 50%;
        line-height: 90%;
    }
}

.menu-icon {
    background: #2C3E50;
    border-radius: 6px;
    width: 48px;
    padding: 6px;
    font-size: 11px;
    box-sizing: border-box;
    position: absolute;
    top: 20px;
    right: 10px;
    text-align: center;
    text-decoration: none;
    span {
        display: block;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
    }
    i {
        color: #fff;
    }
}

nav.main-nav {
    display: block;
    width: 100%;
    @include clearfix-micro;
    ul {
        width: 100%;
        display: none;
        padding: 0 10px;
        margin: 0;
        li {
            font-size: 22px;
            list-style: none;
            line-height: 33px;
            padding: 0;
            a {
                text-decoration: none;
                color: #10283A;
                font-weight: 600;

               &:hover{
                color:rgb(0, 0, 238);
               } 
            }
        }
    }
}

@include breakpoint(not-small) {
    nav.nav-bar,
    nav.main-nav ul {
        display: block;
    }
    .header-wrap {
        margin: 0 auto;
        max-width: $site-max-width;
        padding-bottom: 20px;
        min-width: $site-min-width;
    }
    .logo-title {
        float: left;
        width: 56%;
        margin: 45px 0 0;
        h1 {
            width: auto;
            font-size: 45px;
            margin: 0 10px;
        }
    }
    .menu-icon {
        display: none;
    }
    nav.main-nav ul {
        float: right;
        width: 222px;
        li {
            font-size: 22px;
            list-style: none;
            line-height: 33px;
            a {
                text-decoration: none;
                color: #10283A;
                font-weight: 600;

                &:hover{
                color:rgb(0, 0, 238);
               } 
            }
        }
        .mobile-only {
            display: none;
        }
    }
    .header-wrap,
    .nav-bar-wrap {
        max-width: $site-max-width;
        margin: 0 auto;
    }
}


/* Testimonials
   ========================================================================== */
section.testimonial {
    background: #3DC4AA;
    .testimonial-wrap {
        width: 86%;
        margin: 0 7%;
    }
    img {
        width: 100%;
    }
    img.desktop-only {
        display: none;
    }
    .testimonial-text {
        background: #10283A;
        color: #fff;
        margin-top: -5px;
        padding: 28px 10px;
        text-align: center;
        .quote {
            font-size: 18px;
            margin-bottom: 20px;
        }
        .name {
            font-size: 16px;
        }
    }
}

@include breakpoint(not-small) {
    section.testimonial {
        @include clearfix-micro;
        position: relative;
        height: 192px;
        .testimonial-wrap {
            width: 700px;
            margin: 0 auto;
            padding: 0 5%;
        }
        .testimonial-text {
            width: 455px;
            float: left;
            background: url("/images/blueRectangleTri.png") center center no-repeat;
            height: 154px;
            .quote {
                width: 413px;
                margin: 20px 10px;
            }
            .name{
               width: 413px; 
            }
        }
        img.desktop-only {
            display: block;
        }
        img.mobile-only {
            display: none;
        }
        .photo {
            width: 212px;
            float: left;
            margin-top: -10px;
        }
        img {}
    }
}


/* Main
   ========================================================================== */

.main {
    background: #E6E7E8;
    &.blue {
        background: #51B8F2;
    }
    &.green {
        background: #5FE093;
    }
    &.yellow {
        background: #F1C40F;
    }
    &.light-green {
        background: #5FE093;
    }
    .main-wrap {
        margin: 0 7%;
        padding: 20px 0;
    }
    table.family-size {
        max-width: $site-text-max-width - 100px;
        margin: 0 auto 45px;
        td:nth-child(1) {
            border-right: solid 1px #fff;
            padding-right: 10px;
            width: 50%;
            @include breakpoint(not-small) {
                width: 60%;
                text-align: left;
            }
        }
        td {
            border-bottom: solid 1px #fff;
            text-align: right;
            font-size: 32px;
            p {
                margin: 11px 0;
            }
        }
        tr:nth-child(1) td {
            font-size: 16px;
            text-align: left;
            font-weight: 600;
            padding-left: 10px;
        }
        i {
            margin-right: 5px;
        }
    }
}

@include breakpoint(not-small) {
    .main .main-wrap {
        @include center-text;
        padding: 20px 4%;
    }
}


/* Contact Form
   ========================================================================== */

form {
    max-width: $site-text-max-width - 50px;
    margin: 35px 0;
    .form-group {
        margin: 10px 0;
    }
    label {
        display: block;
    }
    input, textarea {
        width: 100%;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border-color: #3DC4AA;
        border-width: 1px;
        margin: 5px 0;
    }
    input.submit {

    }
    @include breakpoint(not-small) {
        textarea {
            height: 150px;
        }
    }
}