<header>

<nav class="nav-bar" role="contact">
<div class="nav-bar-wrap">
	<a href="{{site.url}}/contact">Contact us / Work with us</a>
</div>
</nav>	

<div class="header-wrap">
	<a class="logo-title" href="{{ site.url }}">
		<img class="logo" src="{{ site.url }}/images/logo.png" alt="Detroit Head Start Logo">
		<h1>Detroit <br/> Head Start</h1>
	</a>

	<nav class="main-nav" role="main">
		<a href="#"><div class="menu-icon"><span>Menu</span><i class="fa fa-bars fa-3x"></i></div></a>
		<ul>
			<li><a href="{{ site.url }}#whatisheadstart">What is Head Start</a></li>
			<li><a href="{{ site.url }}#whoisitfor">Who is it for?</a></li>
			<li><a href="{{ site.url }}#whereisitlocated">Where is it located?</a></li>
			<li><a href="{{ site.url }}#howtoapply">How do I apply?</a></li>
			<li><a class="mobile-only" href="{{ site.url }}/contact">Contact us / Work with us</a></li>
		</ul>
	</nav>
</div>

</header>		