<section class="testimonial">
    <div class="testimonial-wrap">
        <div class="photo"><img class="mobile-only" src=
        "{{site.url}}{{page.testimonial-2.image-mobile}}"></div>

        <div class="testimonial-text">
            <div class="quote">
                <span>{{ page.testimonial-2.quote }}</span>
            </div>

            <div class="name">
                <span>{{ page.testimonial-2.name }}</span>
            </div>
        </div>

        <div class="photo"><img class="desktop-only" src=
        "{{site.url}}{{page.testimonial-2.image}}"></div>
    </div>
</section>